---
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";
import Heading from "../components/Heading.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Heading>Astro 1</Heading>
    <!-- <Button id="my-btn" aria-label="Click me" variety="default" isBorderd -->
    <!-- ><span>BUY</span> -->
    <!-- <Icon name="cart" width={24} /> -->
    <!-- </Button> -->
    <!-- <Button id="my-btn" aria-label="Click me" variety="icon" isBorderd> -->
    <!-- <Icon name="cart" width={24} /> -->
    <!-- </Button> -->
  </body>
</html>
